@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

#__next {
  height: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

:root {
  --background: theme("colors.slate.200");
  --background-secondary: theme("colors.slate.500");
  --background-tertiary: theme("colors.slate.800");

  --primary-dark: theme("colors.gray.900");
  --primary-medium: theme("colors.gray.500");
  --primary-light: theme("colors.gray.200");

  --accent-dark: theme("colors.indigo.700");
  --accent-medium: theme("colors.indigo.500");
  --accent-light: theme("colors.indigo.300");

  --background-title: theme("colors.gray.300");
}

[data-theme="dark"] {
  --background: theme("colors.slate.900");
  --background-secondary: theme("colors.slate.800");
  --background-tertiary: theme("colors.slate.600");

  --primary-dark: theme("colors.gray.200");
  --primary-medium: theme("colors.gray.300");
  --primary-light: theme("colors.gray.700");

  --accent-dark: theme("colors.indigo.300");
  --accent-medium: theme("colors.indigo.500");
  --accent-light: theme("colors.indigo.700");

  --background-title: theme("colors.gray.800");
}
